



/* CONTENEDOR PRINCIPAL */
main {
    padding: 2%;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 3000px;
    /* margin: auto; */
}

/* HOTELS CONTAINER */
.hotels-container {
    width: 99%;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 25px;
}

/* ESTILOS DE LA TARJETA (CARD) */
.hotel-card {
    display: flex;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 1vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 2%;
    color: black;
}

.hotel-image img {
    width: 20vh;
    height: 20vh;
    object-fit: cover;
    border-radius: 1vh;
}

.hotel-info {
    padding-left: 2%;
    flex: 1;
}

.hotel-info h2 {
    font-size: 1.3rem;
    color: #0071c2;
    margin-bottom: 5px;
}

.hotel-info .stars {
    color: #FFD700;
    font-size: 1rem;
    margin-bottom: 5px;
}

.hotel-info .location {
    color: #0071c2;
    font-size: 0.8rem;
    margin-bottom: 5px;
}

.hotel-info .sustainability {
    color: #6b6b6b;
    font-size: 0.9rem;
    margin-bottom: 10px;
}

.hotel-info p {
    font-size: 0.9rem;
    color: #555;
    margin-bottom: 10px;
}

.hotel-prices {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.hotel-prices .rating {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 5px;
}

.hotel-prices .rating span {
    background-color: #0071c2;
    color: white;
    padding: 1% 10px;
    border-radius: 5px;
}

.hotel-prices .location-rating {
    color: #0071c2;
    margin-bottom: 10px;
}

.hotel-prices .price-btn {
    background-color: #0071c2;
    color: white;
    padding: 8% 20px;
    text-decoration: none;
    border-radius: 1vh;
    font-weight: bold;
    text-align: center;
}

.hotel-prices .price-btn:hover {
    background-color: #005b99;
}





@media (max-width : 1400px) {
    .hotels-container {
        gap: 22px;
    }
    
    /* ESTILOS DE LA TARJETA (CARD) */
    .hotel-card {
        padding: 1%;
    }
    
    .hotel-image img {
        width: 15vh;
        height: 15vh;
    }
    
    .hotel-info h2 {
        font-size: 1rem;
        margin-bottom: 3px;
    }
    
    .hotel-info .stars {
        font-size: 1rem;
        margin-bottom: 3px;
    }
    
    .hotel-info .location {
        font-size: 0.7rem;
        margin-bottom: 3px;
    }
    
    .hotel-info .sustainability {
        font-size: 0.8rem;
        margin-bottom: 8px;
    }
    
    .hotel-info p {
        font-size: 0.7rem;
        margin-bottom: 8px;
    }

    
    .hotel-prices .rating {
        font-size: 0.8rem;
        margin-bottom: 3px;
    }
    
    
    .hotel-prices .location-rating {
        margin-bottom: 7px;
    }
    
    .hotel-prices .price-btn {
        padding: 5% 8px;
        border-radius: 1vh;
    }
    
}



@media (max-width : 750px) {

    
}


@media (max-width : 600px) {



}



@media (max-width : 500px) {
 



}