

main {
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr; /* Ajusta la altura de la fila del título */
}

.title2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    font-size: 3em; 
    background: linear-gradient(90deg, #00FF8C, #00BEBE); 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    text-align: center;
}

.container {
    height: 70%;
    display: grid; 
    align-items: center;
    justify-items: center; 
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr)); /* Ajusta el tamaño mínimo */
    gap: 20px;
    padding: 20px;
}

.container div {
    display: flex; /* Flex para centrar la imagen */
    justify-content: center; /* Centra la imagen horizontalmente */
    align-items: center; /* Centra la imagen verticalmente */
}

.container div img {
    border-radius: 5%;
    width: 100%; 
    height: auto; 
    box-shadow: 0 4px 8px rgba(26, 26, 26, 1); 
}


@media (max-width: 1400px) {

    .container {
        overflow: scroll;
    }

}


/* Media Queries */
@media (max-width: 800px) {

    h2 {
        font-size: 2em; 
        margin-bottom: 1%;
    }  



}

@media (max-width: 600px) {


    h2 {
        font-size: 1.5em; 
    }
}

@media (max-width : 400px) {


}

