@import url('https://fonts.cdnfonts.com/css/hubot-sans');
*{ 
    box-sizing: border-box; 
    -webkit-font-smoothing: antialiased; 
    text-rendering: optimizeLegibility; 
    scroll-behavior: smooth;}

html, body { height: 100%; }

html::-webkit-scrollbar { display: none; }
html { -ms-overflow-style: none; scrollbar-width: none; }

body {
    background-color: rgba(26, 26, 26, 0.9);
    margin: 0;
    /* font-family: 'Montserrat', Arial, sans-serif;  */
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    font-size: max(calc(var(--_size) * 0.03), 10px);
    --_factor: min(600px, 100vh);
    --_size: min(var(--_factor), 100vw);
    max-width: 100%; 
    overflow: hidden;
}

body.gold .header h2 ,
body.gold p,
body.gold > * > * :not(.contact-btn) {  
    filter: invert(1) brightness(4.7);
}
body.gold .header h2 a{
    filter: hue-rotate(0deg);
}
body.gold canvas {
    filter: drop-shadow(2em 4em 0px #d8bd10) drop-shadow(-8em -14em 0px #d8bd10);
}
body.gold .header .spotlight {
    filter: invert(1) brightness(4.7) opacity(0.5);
}
body.gold .mountains > div {
    box-shadow: 
    -1em -0.2em 0.4em -1.1em #00BEBE,
    inset 0em 0em 0em 2px #d8a910,
    inset 0.2em 0.3em 0.2em -0.2em #00BEBE,
    inset 10.2em 10.3em 2em -10em #d4e6ff2f;
}

body.gold .content-section,
body.gold .content-section ::before,
body.gold .content-section ::after{
    filter: invert(1) brightness(4.4) opacity(1);
}

/* h2 {
    font-family: 'Montserrat', sans-serif;
} */
h2, p {
    margin: 0; padding: 0;
}
h2 a {
    text-decoration: none;
    color: unset;
}

.header {
    display: flex; 
    justify-content: center;
    align-items: center;
    
    width: 100%;
    color: #00BEBE;
    padding: 2em; 

    opacity: 0;
    translate: 0 -1em;
    animation: load 2s ease-in 2s forwards, up 1.4s ease-out 2s forwards;
}


.nav {
    padding: 0; /* Elimina el padding superior e inferior */
}

.nav-list {
    display: flex;
    column-gap: 5em; /* Aumenta el espacio entre los elementos del menú */
    list-style: none; /* Elimina los puntos de la lista */
    margin: 0; /* Elimina el margen por defecto */
    padding: 0; /* Elimina el padding por defecto */
}

/* .nav-item {
    gap: 50em;
} */

.nav-link {
    text-decoration: none;
    color: rgba(225, 225, 225, 0.7);
    font-size: 1.2rem;
    font-weight: 500;
    transition: color 0.3s; /* Mejora la transición solo para el color */
}

.nav-link:hover {
    color: rgba(225, 225, 225, 1);
    text-shadow: 0 2px 8px rgba(174, 207, 242, 0.6); /* Añade un efecto de sombra al pasar el mouse */
}


body.gold .header > div.mid-spot:hover {
    box-shadow: -0.3em 0.1em 0.2em 0 #00BEBE;
}

body.gold .header > div.mid-spot {
    box-shadow: 0 0 1em 0 #d8bd10;
}

.header > :nth-child(2):hover ~ .spotlight {
    animation: colorize 20s linear infinite;
}
@keyframes colorize {
    0%{filter: hue-rotate(0deg); }
    100% {filter: hue-rotate(-380deg);}
}

button.contact-btn {
    position: absolute; left: min(46em, 60vw); right: 0; margin: 0 auto;
    width: 8em; height: 2.4em;
    cursor: pointer;
    border-radius: 20em;
    border: none;
    transition: background 0.5s, transform 0.5s;
    
    border: 1px solid #c2ccff33;
    opacity: 1;
    padding-top: 0.3em;

    background: #121521;
    color: #00BEBE;
    white-space:nowrap;
}
button.contact-btn::before {
    content: ''; display: block; position:absolute; left: 0; top:0; border-radius: 20em;
    width: 100%; height: 100%;
    background: #c2ccff91 radial-gradient(farthest-side at 50% 100%, #c2ccff, transparent);
    opacity: 0.1;
    transition: all 0.4s ease-in-out;
}
button.contact-btn:hover::before {
    background: #c2ccff1e radial-gradient(farthest-side at 50% 100%, #c2ccff, transparent);
    opacity: 0.3;
}
.contact-btn .glow {
    --border-width: 1px;
    --loop-cycle: 24s;
    position: absolute;
    inset: calc(var(--border-width)* -1);
    border-radius: 50px;
    border: var(--border-width) solid transparent;
    -webkit-mask: linear-gradient(transparent, transparent), linear-gradient(white, white);
    mask: linear-gradient(transparent, transparent), linear-gradient(white, white);
    -webkit-mask-clip: padding-box, border-box;
    mask-clip: padding-box, border-box;
    -webkit-mask-composite: source-in, xor;
    mask-composite: intersect;
    pointer-events: none;
}
button.contact-btn:hover .glow {
    --loop-cycle: 2s;
}
.contact-btn .glow::after, .contact-btn .glow::before {
    content: "";
    height: 100%;
    offset-anchor: 100% 50%;
    background: radial-gradient(circle at 50% 50%, hsla(0, 0%, 100%, 0.75), transparent 50%), radial-gradient(circle at 50% 50%, #c2ccff 50%, transparent);
    opacity: 0.4;
    offset-path: rect(0 100% 100% 0 round 33px);
    position: absolute;
    display: inline-block;
    -webkit-animation: loop 4s linear infinite;
    animation: loop var(--loop-cycle) linear infinite;
    aspect-ratio: 1 / 1;
    transition: opacity 1s ease-in-out;
}
.contact-btn .glow::before {
    animation-delay: calc( var(--loop-cycle) / -2 );
}
@keyframes loop {
    100% {
        offset-distance: 100%;
    }    
}
.contact-btn-content {
    background: linear-gradient(0deg, #d8ecf8, #98c0ef);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.2em;
    line-height: 142%;
}
button.contact-btn:hover .glow::after, button.contact-btn:hover .glow::before {
    opacity: 0.6;
}
@keyframes btn-rot {
    0% { rotate: 0deg; }
    100% { rotate: 360deg; } 
}


canvas#particleCanvas {
    position: absolute; pointer-events: none;
    animation: load 0.4s ease-in-out forwards;
    z-index: 1;
    width: 100%;
    height: 100%;
}   


@keyframes load {  
    0% { opacity: 0;}    
    100% { opacity: 1;}    
}


.container {
    height: 70%;
    width: 100%;
    display: grid; /* Usamos grid para el contenedor */
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-auto-rows: minmax(400px, auto);
    gap: 20px;
    padding: 20px;
    grid-auto-flow: dense;
}

.container div {
    box-sizing: border-box; /* Asegura que el padding y el borde se incluyan en el ancho */
}

/* Estilos para las imágenes */
.container div img {
    border-radius: 5%;
    width: 100%; /* Asegura que la imagen ocupe el 100% del contenedor */
    height: auto; /* Mantiene la relación de aspecto de la imagen */
    box-shadow: 0 4px 8px rgba(26, 26, 26, 1); /* Sombra suave */
}




@media (max-width : 1400px) {
    .container {
        height: 70%;
        width: 100%;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        grid-auto-rows: minmax(200px, auto);
        gap: 10px;
        padding: 10px;
    }
    
}



@media (max-width : 750px) {
    .container {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        grid-auto-rows: minmax(10px, auto);
    }
    .container div img {
        width: 100%; 
    }
    
}


@media (max-width : 600px) {
    .nav-list {
        column-gap: 15px; 

    }

    .nav-link {
        font-size: 0.8rem;
    }

    .container {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        grid-auto-rows: minmax(10px, auto);
    }
    .container div img {
        width: 100%; 
    }


}



@media (max-width : 500px) {
    body {
        overflow:scroll;
    }

    .nav-list {
        column-gap: 8px; 

    }

    .nav-link {
        font-size: 0.7rem;
    }

    .container {
        margin-top: 40em;
        display: flex;
        flex-direction: column;
    }

}