
.principal{
    display: flex;
    flex-direction: column;
}

.title2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    font-size: 3em; 
    background: linear-gradient(90deg, #00FF8C, #00BEBE); 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    text-align: center;
}


.map-container {
    border: 1px solid darkblue;
    width: 90%;
    max-width: 1200px;
    height: 60vh;
    margin: auto ; /* Margen superior aumentado */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Estilo de iframe para ocupar todo el contenedor */
.map-container iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

/* Ajustes para pantallas grandes */
@media (min-width: 1024px) {
    .map-container {
        width: 80%;
        height: 70vh;
        margin: auto ; /* Margen superior aumentado en pantallas grandes */
    }
}

/* Ajustes para pantallas medianas */
@media (min-width: 768px) and (max-width: 1023px) {
    .map-container {
        width: 85%;
        height: 50vh;
        margin:  auto ; /* Margen superior aumentado en pantallas medianas */
    }
}

/* Ajustes para pantallas pequeñas (móviles) */
@media (max-width: 767px) {
    .map-container {
        width: 95%;
        height: 45vh;
        margin:auto ; /* Margen superior aumentado en pantallas móviles */
    }
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.map-button {
    text-decoration: none;
    color: #fff;
    background: linear-gradient(45deg, #00FF8C  , #00BEBE);
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.map-button:hover {
    background-color: #3367D6;
}